<div class='background'>
  <div class="container">
    <div class='row'>
      <div class="col-xs-9"></div>
      <div class="col-xs-3">
        <h1>Cruisin'Egypt</h1>
        <p>Book the best cabin to enjoy your Nile River Cruise</p>
        <%= link_to boats_path, class: "btn btn-info" do %>
        book your cabin
        <% end %>
        <% unless current_user %>
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
        <% else %>
        <%= current_user[:name] %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</div>
