<div class='background'>
  <div class="container">
    <div class='row'>
      <div class="col-xs-9"></div>
      <div class="col-xs-3">
        <h1>Cruisin'Egypt</h1>
        <p>Book the best cabin to enjoy your Nile River Cruise</p>
        <%= link_to boats_path, class: "btn btn-info" do %>
          book your cabin
        <% end %>
      </div>
    </div>
  </div>
</div>
