  <div class='blog'>
  <div class='container'>
  <div class='row text-center'>
  <h1>Découvrir l'Egypte</h1>
  <hr>
<% @posts.each do |post| %>
<%=link_to post_path(post) do %>
  <h3><%= post.title %></h3>
  <% end %>
  <%= image_tag post.image_url.to_s, width: '400px' %>
  <p><%= post.content %></p>
  <hr>
<% end %>

</div>
</div>
</div>
